@{
    ViewData["Title"] = "Connect HQ | End User Terms and Agreement";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row eula">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h2 class="text-center">End User License Agreement</h2>
            </div>
            <div class="box-body p-l30 p-r30">
                <p><strong>SureComply Pty Ltd (ABN 70 619 251 571)</strong></p>
                <p><strong>THIS AGREEMENT</strong> made</p>
                <p><strong>BETWEEN</strong></p>
                <p><strong>SureComply Pty Ltd (ABN 70 619 251 571)</strong> of 247 Church Street, Richmond, Victoria, 3121 ("Licensor")</p>
                <p>- and -</p>
                <p><strong>You ("Licensee")</strong></p>
                <p>(the <strong>"Parties"</strong>)</p>
                <ol>
                    <li>
                        <strong>Definitions and interpretation</strong>
                        <ol>
                            <li>
                                <strong>Definitions</strong>
                                <p>In this Agreement (including the recitals) unless the context otherwise requires:</p>
                                <p> <strong>Agreement</strong> means this agreement and its schedule; </p>
                                <p><strong>Product</strong> means SureComply Software as detailed in Schedule 1; </p>
                                <p><strong>Terms</strong> means the terms and conditions of this Agreement. </p>

                            </li>
                            <li>
                                <strong>Interpretation</strong>
                                <p>In this Agreement unless the context otherwise requires:</p>
                                <ul>
                                    <li>a.	headings are for convenience only and do not affect its interpretation and construction;</li>
                                    <li>b.	the singular includes the plural and vice versa;</li>
                                    <li>c.	words importing a gender include other genders;</li>
                                    <li>d.	where any word or phrase is defined, any other part of speech or other grammatical form of that word or phrase has a cognate meaning;</li>
                                    <li>e.	a reference to any statute, proclamation, rule, code, regulation or ordinance includes any amendment, consolidation, modification, re-enactment or reprint of it or any statute, proclamation, rule, code, regulation or ordinance replacing it;</li>
                                    <li>f.	"includes" is not a word of limitation;</li>
                                    <li>g.	a reference to any thing is a reference to the whole and each part of it;</li>
                                    <li>h.	a reference to a group of persons is a reference to all of them collectively and to each of them individually; and</li>
                                    <li>i.	a reference to a document includes all amendments or supplements to, or replacements or novation of, that document.</li>

                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Acceptance</strong>
                        <ol>
                            <li><strong>This Agreement is between you and the Licensor, and governs the Products made available to you. </strong></li>
                            <li>
                                Upon:
                                <ul>
                                    <li>a.	selecting the 'Accept' option;</li>
                                    <li>b.	payment of the license fee for the Product at the point of purchasing the licence for the Product; or</li>
                                    <li>c.	upon downloading, installing or using the Product (whichever comes first),</li>
                                </ul>
                            </li>
                            <li><strong>If you do not agree to the Terms of this Agreement, you must not install, use, or copy the Product. </strong></li>
                        </ol>
                    </li>
                    <li>
                        <strong>License grant</strong>
                        <p class="p-l20"><strong>This Agreement entitles you to</strong></p>
                        <ul>
                            <li>a.	install and use this Product by the Licensor on a trial basis; and</li>
                            <li>b.	install and make an archival copy of the Product on a storage medium other than a hard drive and may only be used for the reinstallation of the Product for the period of the trial period only. </li>
                        </ul>
                        <p class="p-l20"><strong>This Agreement permits the installation of the Product for the purposes of the trial   by the Licensee only:</strong></p>
                        <ul>
                            <li>a.	on more than one computer at any given time;</li>
                            <li>b.	on a system that allows shared use of applications;</li>
                            <li>c.	on a multi-user network; and</li>
                            <li>d.	on any configuration or system of computers that allow multiple users by the provider who has been granted a license only. </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Limitations</strong>
                        <ol>
                            <li>
                                <strong>Limitations on transfer</strong>
                                <p class="p-l20">You may not assign your rights and obligations under this Agreement, or redistribute, encumber, sell, rent, lease, sublicense, or otherwise transfer your rights to the Products under trial. </p>
                            </li>
                            <li>
                                <strong>Limitations on use</strong>
                                <p class="p-l20">You may not:</p>
                                <ul>
                                    <li>a.	share the Licence, or contents of the Product, with others;</li>
                                    <li>b.	decompile, "reverse engineer", disassemble, or otherwise attempt to derive the source code for the Product;</li>
                                    <li>c.	broadcast, transmit or otherwise display in a public forum or any venue not restricted to you, the Product or any part of the product</li>
                                    <li>d.	post the Product or part of the Product on any website;</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Limitations on derived works</strong>
                                <p class="p-l20">
                                    You may not modify the Product, create derivative works based upon the Product, or use the Product to develop any product having the same primary function as the Product.
                                </p>
                            </li>
                            <li>
                                <strong>Limitations on alteration</strong>
                                <p class="p-l20">You may not:</p>
                                <ul>
                                    <li>a.	modify the Product or create any derivative work of the Product or its accompanying documentation. Derivative works include but are not limited to translations; or</li>
                                    <li>b.	alter any files or libraries in any portion of the Product.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Limitations on copying</strong>
                                <p class="p-l20"> 	You may not copy any part of the product except to the extent that the licensed use inherently demands the creation of a temporary copy stored in the computer memory and not permanently affixed on storage medium.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>Ownership</strong>
                        <p class="p-l20"> 	SureComply Pty Ltd or its subsidiaries, affiliates, and suppliers retain all rights, title and interest, including all copyright and intellectual property rights, in and to, the Product and all copies thereof.</p>
                    </li>
                    <li>
                        <strong>Warranties and exclusions</strong>
                        <ol>
                            <li><strong>Provisions of the Competition and Consumer Act 2010 and other laws in force from time to time in Australia may imply guarantees, warranties, conditions, and impose obligations on SureComply Pty Ltd and its subsidiaries, affiliates, and suppliers ("Implied Terms"). If these Implied Terms apply, SureComply Pty Ltd's liability will be limited at its option to resupply, repair or replacement of the Product or the cost of such resupply, repair or replacement, to the extent permitted by law. </strong></li>
                            <li><strong>Unless otherwise explicitly agreed to in writing by SureComply Pty Ltd, subject to the Implied Terms, all representations, guarantees, conditions and warranties of any nature are expressly excluded. </strong></li>
                            <li><strong>Nothing in this clause excludes, restricts or modifies your rights under an Implied Term.</strong></li>
                        </ol>
                    </li>
                    <li>
                        <strong>Exclusion of damages</strong>
                        <p class="p-l20"> 	Subject to any Implied Term, SureComply Pty Ltd, its directors, officers, employees, or agents will not be liable to you or any other party for indirect, consequential, special, incidental, punitive or exemplary damages of any kind (including loss of revenues or profits or loss of business) arising in connection with these Terms, the Product, any software for the Product or any support services for the Product, whether based on contract, tort, statute, or any other legal theory.</p>
                    </li>
                    <li>
                        <strong>Limitation of liability and remedies</strong>
                        <p class="p-l20"> 	To the extent that the applicable jurisdiction limits SureComply Pty Ltd's ability to disclaim any implied warranties, this disclaimer shall be effective to the maximum extent permitted.</p>
                    </li>
                    <li>
                        <strong>Licensee indemnity</strong>
                        <p class="p-l20"> 	You will indemnify SureComply Pty Ltd, its directors, officers, employees, agents and          contractors in full against any liability, loss, damages, costs and expenses as a result of or in connection with your use of the Product, including but not limited to, any modification by you of the Product which causes the Product to infringe the intellectual property rights of a third party.</p>
                    </li>
                    <li>
                        <strong>Variation of Terms</strong>
                        <p class="p-l20"> 	SureComply Pty Ltd reserves the right to amend these Terms from time to time without notice to you and you will be subject to the Terms in force at the time you purchase the Licence for the Product or download the Product whichever is applicable.</p>
                    </li>
                    <li>
                        <strong>Termination</strong>
                        <p class="p-l20"> 	Without prejudice to any other rights, SureComply Pty Ltd may terminate this Agreement     immediately and without further notice if you fail to comply with the Terms of this Agreement. In such event, you must destroy all copies of the Product.</p>
                    </li>
                    <li>
                        <strong>General provisions</strong>
                        <ol>
                            <li>Any provision of, or the application of any provision of this Agreement, which is	 prohibited in any jurisdiction is ineffective only to the extent of that prohibition</li>
                            <li>Any provision of, or the application of any provision of this Agreement which is void, illegal or unenforceable in any jurisdiction does not affect the validity, legality or enforceability of that provision or of the remaining provisions in that or any other jurisdiction. </li>
                            <li>The failure, delay, relaxation or indulgence on the part of a part in exercising, in part or whole, any power, right or remedy conferred upon that party by these Terms shall not operate as a waiver of that power, right, or remedy.</li>
                            <li>This Agreement contains the entire Agreement between the Parties and supersedes any previous understandings, commitments or agreements, oral or written. </li>
                            <li>If a clause is void, illegal or unenforceable, it may be severed without affecting the enforceability of the other provisions in this Agreement. </li>
                            <li>This Agreement shall be governed by and construed in accordance with the laws of Victoria. </li>
                        </ol>
                    </li>
                </ol>

                <br>
                <br>
                <br>
                <br>
                <table class="table table-responsive table-bordered m-b20">
                    <tbody>
                        <tr>
                            <td>SCHEDULE 1</td>
                            <td>PRODUCT</td>
                        </tr>
                        <tr>
                            <td>
                                NAME OF PRODUCT
                            </td>
                            <td>SureComply Software</td>
                        </tr>
                        <tr>
                            <td>DETAILS OF PRODUCT:</td>
                            <td>
                                <strong>OnePassport:</strong> A Personal Data Repository (PDR) for individuals to store all of their personnel record information. Including receiving verified data from police check providers, employers and education providers.
                                <br><strong>ConnectHR:</strong> Dedicated HR Information System (HRIS) that is cloud based SaaS for organisations to manage their workforce or membership.
                                <br><strong>ConnectHQ:</strong> An API driven middleware platform with the visible dashboard for viewing API connections that provides connectivity, data integration, Single Sign On, and event management.
                            </td>
                        </tr>
                        <tr>
                            <td>LIMITATIONS OF USE</td>
                            <td><span class="text-italic">This Agreement limits the use of the SureComply Software to an individual user within the terms outlined in this agreement.</span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>