@{
    ViewData["Title"] = "Connect HQ | Privacy Policy";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row eula">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h2 class="text-center">SureComply Privacy Policy </h2>
            </div>
            <div class="box-body  p-l30 p-r30">
                <p>SureComply Pty Ltd ABN 70 619 251 571 (“The Company”) values your Privacy. </p>
                <p>In this policy, “us, “we”, “our” or the Company means SureComply Pty Ltd and its technology platforms ConnectHR, ConnectHQ and OnePassport. (“The Platforms”).</p>
                <p>At SureComply we are committed to safeguarding the privacy of our users. This Privacy Policy applies to all personal information provided to us and all personal information stored by the Company on any of its Platforms. </p>
                <p>When you use our Platforms you can trust us with your information. This Privacy Policy helps you understand what information we collect, why we collect it, and what we do with it. This page describes how the privacy of your personal information is respected in a variety of common interactions with the Company and in the use of our Platforms. </p>
                <ol>
                    <li>
                        <strong>Personal Information</strong>
                        <p class="p-l20">The obligations under the Privacy Act 1988 (the “Act”) and the Australian National Privacy Principles guide the way the Company collects, handles and stores your information and any information within it.</p>

                        <p class="p-l20">The information you provide us may contain personal information that identifies you for the purpose of employee verification, human resources, payroll, rostering and secure data storage across our Platforms.</p>

                        <p class="p-l20">The Company will not use or disclose Personal Information without your consent. Personal information means information that identifies you as an individual, or from which your identity can be reasonably ascertained. (“Personal Information”)</p>

                        <p class="p-l20"> We will review this policy regularly, and we may update it from time to time to ensure we are complying with any legislative changes including the European Union General Data Protection Regulations (GDPR) that came into force on 25 May 2018.</p>
                    </li>
                    <li>
                        <strong>Information you Provide Us</strong>
                        <p class="p-l20">The Company works hard to ensure the security of the information you provide us. Once it comes into our possession, reasonable steps will be taken to protect and secure this information. When you send information or use our Platforms to supply personal information this will be used strictly for the purposes identified in this document or agreed by you as part of license conditions consented by you. Your information will never be used for purposes it was not intended by you.</p>
                    </li>
                    <li>
                        <strong>Collection of Personal Information</strong>
                        <p class="p-l20">The kinds of information we collect will depend on which of our products or services are used and how you use the software offered across our Platforms. The kinds of personal information that we collect and hold include:</p>
                        <ul>
                            <li>•	First Name</li>
                            <li>•	Last Name</li>
                            <li>•	Email</li>
                            <li>•	Education History</li>
                            <li>•	Employment History</li>
                            <li>•	Background Check</li>
                            <li>•	Residency & Visa</li>
                            <li>•	Registrations, Licenses & Permits</li>
                            <li>•	Languages</li>
                            <li>•	Short Courses/ Mandatory Training</li>
                            <li>•	Skills Matrix</li>
                            <li>•	Contact details (for example, postal address, e-mail address, telephone number(s))</li>
                        </ul>
                        <p class="p-l20">
                            We collect personal information directly from you and, in particular, from information you provide to us as part of using the software.
                        </p>
                        <p class="p-l20">
                            We may also collect personal information from a third party where you have consented to the personal information being provided by the third party (for example for Background Checks, Residency and Visa information or Registration or License required to undertake work).
                        </p>
                    </li>
                    <li>
                        <strong>Disclosure of Personal Information</strong>
                        <p class="p-l20">
                            To the extent permitted by applicable law and as permitted by our customer agreements, we may use information collected in connection to operate the Platform services and verify information supplied in the collection of third party information. (“Services”)
                        </p>
                        <p class="p-l20">
                            We may use the information, including personal information for the purpose of providing Services to our customers. We may disclose your Personal Information to:
                        </p>
                        <ul>
                            <li>•	our employees, clients, contractors or external service providers for the operation of the Services or our business, fulfilling requests consented by you, including verifying the collection of staff and other personnel information.  </li>
                            <li>•	our existing or potential agents, business partners or joint venture entities or partners to enable us to perform our business activities.                                                                                               </li>
                            <li>•	specific third parties authorised by you to receive information held by us;                                                                                                                                                              </li>
                            <li>•	relevant private or public sector authorities and institutions including Government Departments, Educational Institutions, Australian Tax Office, banks and superannuation providers relating to the provision of the Services, and      </li>
                            <li>•	the police, any relevant authority or enforcement body, or your Internet Service Provider or network administrator.                                                                                                                      </li>

                        </ul>
                    </li>
                    <li>
                        <strong>Social Media</strong>
                        <p class="p-l20">
                            We may use social networking services such as Facebook, Google Plus and Twitter to communicate with the public about our activities. We may collect your personal information when you communicate with us by using these social networking services, and the social networking services will also handle your personal information for their own services. These social networking sites have their own privacy policies in place.
                        </p>
                    </li>
                    <li>
                        <strong>Using the Platforms</strong>
                        <p class="p-l20">You can access and browse our Platforms without disclosing personal information. We will only accept personal information with your consent.</p>
                        <p class="p-l20"> From time to time we link to other websites. These websites are responsible for their own privacy practices, and you should check those websites for more information about how they will handle your personal information.</p>
                        <p class="p-l20">For further information on how the Company values surrounding data protection please contact us on <a href="mailto:dataprivacy@surecomply.co">dataprivacy@surecomply.co</a></p>
                    </li>
                    <li>
                        <strong>Cookies</strong>
                        <p class="p-l20">We use "cookies" to enhance functionality and to keep track of visits to our website</p>
                        <p class="p-l20">A cookie is a small data file that contains information about your visit to a website. Your computer provides this information during your first visit to a web server. The server records this information in a text file and stores this file on your hard drive. When you visit the same website again, the server looks for the cookie and structures itself based on the information provided. A cookie only identifies your computer to a web server when you visit the site.</p>
                        <p class="p-l20">If you visit our website to browse or download information, our web server will record the date and time of your visit to our site, the pages viewed and the information downloaded. We generally use this information for statistical purposes.</p>
                        <p class="p-l20">Most web browsers are initially set up to accept cookies. You can reset your browser to refuse all cookies or to warn you before accepting cookies. If you have set your browser to warn you before accepting cookies, you will receive the warning message with each cookie. You can refuse cookies by turning them off in your browser.</p>
                        <p class="p-l20">If your browser is configured to reject all cookies, you will be unable to use services on the website that require cookies in order to participate. You may still be able to use some information-only pages if you do not accept cookies.</p>
                    </li>
                    <li>
                        <strong>Our Customer Database</strong>
                        <p class="p-l20">The Company maintains a database of customer information in order to promote its programs. This is used for email, printed mail as well for Direct Marketing purposes. The Company may, from time to time, provide you with information about our products and services that we think will interest you.</p>
                    </li>
                    <li>
                        <strong>The information we keep about you</strong>
                        <p class="p-l20">You have a right to request access to or correction of your personal information held by us. If you wish to access, correct or update any personal information we may hold about you, please contact us as set out below. However, we may charge for providing access to this information and we may refuse access where the Privacy Act allows us to do so.</p>
                    </li>
                    <li>
                        <strong>Complaints process</strong>
                        <p class="p-l20">If you have any questions or concerns about our collection, use or disclosure of personal information, or if you believe that we have not complied with this Privacy Policy or the Act, please contact us at <a href="mailto:dataprivacy@surecomply.co">dataprivacy@surecomply.co</a>. We will investigate the complaint and determine whether a breach has occurred and what action, if any, to take.  When contacting us, please provide as much detail as possible in relation to the query, issue or complaint.</p>
                        <p class="p-l20">We will take any privacy complaint seriously.  We will aim to resolve any such complaint in a timely and efficient manner, and our target response time is 30 days.  We request that you cooperate with us during this process and provide us with relevant information we may require.</p>
                    </li>
                    <li>
                        <strong>Storage and security of your personal information</strong>
                        <p class="p-l20">The Company will take reasonable steps to keep any personal information we hold about you secure. However, except to the extent liability cannot be excluded due to the operation of statute, the Company excludes all liability (including in negligence) for the consequences of any unauthorised access to your personal information. Please notify us immediately if you become aware of any breach of security.</p>
                    </li>
                    <li>
                        <strong>Changes to this Privacy Policy</strong>
                        <p class="p-l20">
                            The date of this Privacy Policy is set out below. We may change this Privacy Policy at our discretion. By continuing to use our Platforms, or otherwise continuing to deal with us, you accept this Privacy Policy as it applies from time to time.
                            <br />
                            Issued: 16 July 2018
                        </p>
                    </li>
                </ol>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>