@{
    ViewData["Title"] = "Access denied";
}

<div class="content-wrapper organization">
    <section class="content-header">
        <header>
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
    </section>
    

</div>
